.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    max-width: 600px;
}
.bd-callout-info {
    border-left-color: purple
}